﻿
<script type="text/javascript">
    if (typeof app === 'undefined') {
    document.location.href="/";
  }
</script>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
            <div class="panel-heading">
                <h1> Phase Out Process Application Mockup</h1>
            </div>
        <img src="https://gyazo.com/903adc816d2e7711838e3af9aa29e979.jpg" alt="phase out process">
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>