<script type="text/javascript">
    if (typeof app === 'undefined') {
        document.location.href = "/";
    }
</script>
<div class="container">
    <div class="page-header text-center">
        <h1>Phase Out Preparation Panel</h1>
        <!--{{vm.dataSource}}-->
    </div>
</div>
<div class="row">

    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="demo-section">
            <div class="k-content" style="width: 100%;">
                <div id="grid"
                     kendo-grid="grid"
                     k-rebind="vm.gridColumns"
                     k-data-source="vm.dataSource"
                     k-sortable="{ mode: 'multiple' }"
                     k-resizable="true"
                     k-pageable='{ pageSizes: true, refresh: true, buttonCount: 5 }'
                     k-filterable="true"
                     k-editable='{ mode: "popup", template: vm.popupEditorTemplate }'
                     k-selectable="'row'"
                     k-toolbar='[ { template: vm.toolbarTemplate } ]'
                     k-columns='vm.tempGrid || vm.getGridColumns()'
                     k-on-data-bound="onDataBound(kendoEvent)"
                     k-on-change="onChange(kendoEvent)">
                </div>
                <style scoped>
                    .toolbar {
                        padding: 15px;
                    }
                </style>
            </div>
        </div>
        <script type="text/x-kendo-template" id="toolbar-claform">
            <div class="toolbar">
                <uib-accordion>
                    <uib-accordion-group heading="Column Settings">
                        <div class="col-lg-3 col-sm-3 col-xs-12" ng-show="(column.field != 'deviceCategories') && (column.field != 'productList')" ng-repeat="column in vm.tempGrid">

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-click="column.hidden = !column.hidden" ng-checked="!column.hidden"> {{column.title}}
                                </label>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <button class="btn btn-warning" ng-click="vm.setGridColumns(vm.tempGrid)">Set Columns</button>
                        </div>
                    </uib-accordion-group>
                </uib-accordion>

                <!--contains logic for changing boolean values in ng-repeat-->
                <!--<h4>Enabled Columns</h4>
                <div>
                    <div>
                        <div class="btn-group" ng-repeat="column in vm.gridColumns">
                            <button ng-show="column.field != null && !column.hidden" type="button" ng-click="column.hidden = !column.hidden" class="btn btn-default">{{column.title}}</button>
                        </div>
                    </div>
                    <br />
                    <h4>Hidden Columns</h4>
                    <div class="btn-group" ng-repeat="column in vm.gridColumns">
                        <button ng-show="column.field != null && column.hidden" type="button" ng-click="column.hidden = !column.hidden" class="btn btn-default">{{column.title}}</button>
                    </div>
                    <br />
                    <br />-->
                <div class="pull-left">


                    <button kendo-button ng-click="vm.newProduct(this)"><span class="k-icon k-i-plus"></span>New</button>
                    <button kendo-button ng-click="vm.redirectMySelf()"><span class="k-icon k-i-refresh"></span>Reset All</button>
                </div>
                <div class="pull-right">

                    <button kendo-button ng-click="vm.togglePhased(this)"><span class="k-icon k-i-pencil"></span>Phase Out</button>

                    <!--<button kendo-button ng-click="vm.edit(this)"><span class="k-icon k-i-pencil"></span>Edit</button>-->

                    <button kendo-button ng-click="vm.view(this)"><span class="k-icon k-i-restore"></span>View</button>
                </div>
                <br />
                <br />
            </div>
            <!--</div>-->
        </script>
        <style>
            .k-edit-form-container {
                width: 1000px;
            }

            .k-popup-edit-form .k-edit-label {
                width: 20%;
            }

            .k-popup-edit-form .k-edit-field {
                width: 70%;
            }
        </style>
        <script id="popup_editor_cla" type="text/x-kendo-template">
            <h1 class="text-center">Product Edit</h1>
            <div data-ng-show="vm.isUserInRoles('Sales');" class="k-edit-form-container">
                <div class="k-edit-label">

                    <label for="id">Id</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="id" data-bind="value:id" readonly />
                </div>

                <div class="k-edit-label">
                    <label for="companyName">Company Name</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="companyName" data-bind="value:companyName" />
                </div>

                <div class="k-edit-label">
                    <label for="taxID">Tax ID</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="taxID" data-bind="value:taxID" />
                </div>

                <div class="k-edit-label">
                    <label for="salesContact">Sales Contact</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="salesContact" data-bind="value:salesContact" />
                </div>

                <div class="k-edit-label">
                    <label for="address">Address</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="address" data-bind="value:address" />
                </div>

                <div class="k-edit-label">
                    <label for="city">City</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="city" data-bind="value:city" />
                </div>

                <div class="k-edit-label">
                    <label for="country">Country</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="country" data-bind="value:country" />
                </div>

                <div class="k-edit-label">
                    <label for="postCode">Postal Code</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="postCode" data-bind="value:postCode" />
                </div>

                <div class="k-edit-label">
                    <label for="signerFirstName">Signer's First Name</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="signerFirstName" data-bind="value:signerFirstName" />
                </div>

                <div class="k-edit-label">
                    <label for="signerLastName">Signer's Last Name</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="signerLastName" data-bind="value:signerLastName" />
                </div>

                <div class="k-edit-label">
                    <label for="signerEmail">Signer's Email</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="signerEmail" data-bind="value:signerEmail" />
                </div>

                <div class="k-edit-label">
                    <label for="signerJobTitle">Signer's Job Title</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="signerJobTitle" data-bind="value:signerJobTitle" />
                </div>

                <div class="k-edit-label">
                    <label for="signerPhoneNumber">Signer's Phone Number</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="signerPhoneNumber" data-bind="value:signerPhoneNumber" />
                </div>

                <div class="k-edit-label">
                    <label for="technicalFirstName">Technical's First Name</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="technicalFirstName" data-bind="value:technicalFirstName" />
                </div>

                <div class="k-edit-label">
                    <label for="technicalLastName">Technical's Last Name</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="technicalLastName" data-bind="value:technicalLastName" />
                </div>

                <div class="k-edit-label">
                    <label for="technicalEmail">Technical's Email</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="technicalEmail" data-bind="value:technicalEmail" />
                </div>

                <div class="k-edit-label">
                    <label for="technicalJobTitle">Technical's Job Title</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="technicalJobTitle" data-bind="value:technicalJobTitle" />
                </div>

                <div class="k-edit-label">
                    <label for="technicalPhoneNumber">Technical's Phone Number</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="technicalPhoneNumber" data-bind="value:technicalPhoneNumber" />
                </div>
                <div ng-show="false">
                    <div class="k-edit-label">
                        <label for="deviceCategories">Device Categories</label>
                    </div>
                    <div class="k-edit-field">
                        <input type="text" class="k-input k-textbox" name="deviceCategories" data-bind="value:deviceCategories" />
                    </div>

                    <div class="k-edit-label">
                        <label for="productList">Product List</label>
                    </div>
                    <div class="k-edit-field">
                        <input type="text" class="k-input k-textbox" name="productList" data-bind="value:productList" />
                    </div>
                </div>

                <div class="k-edit-label">
                    <label for="">Device Categories</label>
                </div>
                <div class="k-edit-field">
                    <uib-accordion>
                        <uib-accordion-group is-open="status.open" heading="Device Categories">
                            <div class="col-lg-5 col-sm-5 col-xs-12" ng-repeat="device in vm.editorTempDeviceCategories">
                                <label class="checkbox">
                                    <input type="checkbox" ng-click="device.selected = !device.selected" ng-checked="device.selected === true"> {{device.device}}
                                </label>
                            </div>

                            <div class="col-xs-12">
                                <button type="button" class="btn btn-warning" ng-click="vm.setDeviceCategories(); status.open = !status.open">Apply</button>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>


                <div class="k-edit-label">
                    <label for="">Product List</label>
                </div>
                <div class="k-edit-field">
                    <uib-accordion>
                        <uib-accordion-group is-open="status.open" heading="Product List">
                            <div class="col-lg-5 col-sm-5 col-xs-12" ng-repeat="product in vm.editorTempProductList">

                                <label form-control-label">{{product.product}}</label>
                                <div class="input-group">
                                    <input id="prod" type="number" min="0" step="1" class="form-control" ng-model="product.quantity" placeholder="Unit Quantity">
                                    <div class="input-group-addon">units</div>
                                </div>

                                <br />
                            </div>

                            <br />

                            <div class="col-xs-12">
                                <button type="button" class="btn btn-warning" ng-click="vm.setProductList();status.open = !status.open">Apply</button>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>

                <div class="k-edit-label">
                    <label for="otherType">Other Type</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="otherType" data-bind="value:otherType" />
                </div>

                <div class="k-edit-label">
                    <label for="otherQuantity">Other Quantity</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="otherQuantity" data-bind="value:otherQuantity" />
                </div>

                <div class="k-edit-label">
                    <label for="claNumber">CLA Number</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="claNumber" data-bind="value:claNumber" />
                </div>

                <div class="k-edit-label">
                    <label for="claStatus">CLA Status</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="claStatus" data-bind="value:claStatus" />
                </div>

                <div class="k-edit-label">
                    <label for="claStatusDate">CLA Status Date</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="claStatusDate" data-bind="value:claStatusDate" />
                </div>

                <div class="k-edit-label">
                    <label for="customerERPID">Customer ERPID</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="customerERPID" data-bind="value:customerERPID" />
                </div>

                <div class="k-edit-label">
                    <label for="createdDate">Created Date</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="createdDate" data-bind="value:createdDate" readonly />
                </div>

            </div>





            <!--pm view-->
            <div data-ng-show="vm.isUserInRoles('ProductManager');" class="k-edit-form-container">

                <div class="k-edit-label">
                    <label for="claNumber">CLA Number</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="claNumber" data-bind="value:claNumber" />
                </div>

                <div class="k-edit-label">
                    <label for="claStatus">CLA Status</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="claStatus" data-bind="value:claStatus" />
                </div>

                <div class="k-edit-label">
                    <label for="claStatusDate">CLA Status Date</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="claStatusDate" data-bind="value:claStatusDate" />
                </div>

                <div class="k-edit-label">
                    <label for="customerERPID">Customer ERPID</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="customerERPID" data-bind="value:customerERPID" />
                </div>

            </div>



        </script>
    </div>
    <div class="col-md-1">
    </div>
</div>