<script type="text/javascript">
    if (typeof app === 'undefined') {
        document.location.href = "/";
    }
</script>
<div class="container">
    <div class="page-header text-center">
        <h1>Phase Out Product View</h1>
    </div>
</div>





<div class="row">
    <div class="col-md-3">
        &nbsp;
    </div>

    <div class="col-md-6">
        <button data-ng-show="authentication.isAuth" type="button" ng-click="vm.toAdminPage()" class="btn btn-default pull-left">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> View All Phased Products
        </button>
        <button data-ng-show="authentication.isAuth" type="button" ng-click="vm.open('lg')" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
        </button>
        <br /><br />
        <div class="row">

            <!--this code is a reference for ng-repeat key value pairs-->
            <!--<div ng-repeat="(key, value) in vm.claFormViewModel">
                <div class="col-xs-4">
                    {{vm.toDisplayName(key)|uppercase}}
                </div>
                <div class="col-xs-8">
                    {{value}}
                </div>
            </div>-->

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Product Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Phase Out Progress
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.product.phased}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Part Number
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.product.partNumber}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Scheduled Date
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.product.scheduledDate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Status
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.product.status}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Description
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.product.description}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                PLM Status
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.product.plmStatus}}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel-body">
                    <div class="row" ng-controller="ProductCustomerRelationCtrl">
                        <div class="col-md-12">
                            <div class="demo-section">
                                <div class="k-content" style="width: 100%;">
                                    <div id="grid"
                                         kendo-grid="grid"
                                         k-rebind="vm.gridColumns"
                                         k-data-source="vm.dataSource"
                                         k-sortable="{ mode: 'multiple' }"
                                         k-resizable="true"
                                         k-pageable='{ pageSizes: true, refresh: true, buttonCount: 5 }'
                                         k-filterable="true"
                                         k-editable='{ mode: "popup", template: vm.popupEditorTemplate }'
                                         k-selectable="'row'"
                                         k-toolbar='[ { template: vm.toolbarTemplate } ]'
                                         k-columns='vm.tempGrid || vm.getGridColumns()'
                                         k-on-data-bound="onDataBound(kendoEvent)"
                                         k-on-change="onChange(kendoEvent)">
                                    </div>
                                    <style scoped>
                                        .toolbar {
                                            padding: 15px;
                                        }
                                    </style>
                                </div>
                            </div>
                            <script type="text/x-kendo-template" id="toolbar-claform">

                                <!--</div>-->
                            </script>
                            <style>
                                .k-edit-form-container {
                                    width: 1000px;
                                }

                                .k-popup-edit-form .k-edit-label {
                                    width: 20%;
                                }

                                .k-popup-edit-form .k-edit-field {
                                    width: 70%;
                                }
                            </style>

                        </div>
                    </div>
                </div>

                <div class="panel-heading">
                    <h3 class="panel-title">EOF Files</h3>
                </div>
                <div class="panel-body">
                    <div class="row" ng-controller="fileUploadController" nv-file-drop="" uploader="uploader">

                        <div class="col-md-3">
                            <h3>Select files</h3>
                            <div ng-show="uploader.isHTML5">
                                <!-- 3. nv-file-over uploader="link" over-class="className" -->
                                <div class="well my-drop-zone" nv-file-over="" uploader="uploader">


                                    <br />
                                    <br />
                                    Drop Files Here!


                                </div>
                            </div>
                            <input type="file" nv-file-select="" uploader="uploader" />
                        </div>
                        <div class="col-md-9">
                            <div class="col-md-9" style="margin-bottom: 40px">
                                <div class="form-group">
                                    <label for="folder">Folder</label>
                                    <input id="folder" type="text" class="form-control" placeholder="Folder" data-ng-model="folder" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="note">Note</label>
                                    <textarea class="form-control" rows="3" id="note" type="text" placeholder="Note" data-ng-model="note"></textarea>
                                </div>
                                <h3>Upload queue</h3>
                                <p>Queue length: {{ uploader.queue.length }}</p>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="50%">Name</th>
                                            <th ng-show="uploader.isHTML5">Size</th>
                                            <th ng-show="uploader.isHTML5">Progress</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td><strong>{{ item.file.name }}</strong></td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                                </button>
                                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- below code is for multiple file upload only
                                <div>
                                    <div>
                                        Queue progress:
                                        <div class="progress" style="">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                        <span class="glyphicon glyphicon-upload"></span> Upload all
                                    </button>
                                    <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                    </button>
                                    <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                        <span class="glyphicon glyphicon-trash"></span> Remove all
                                    </button>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>


                <!--<div class="panel-heading">
                    <h3 class="panel-title">Signer Contact Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Name
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.signerFirstName}} {{vm.claFormViewModel.signerLastName}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Job Title
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.signerJobTitle}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Email
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.signerEmail}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Phone Number
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.signerPhoneNumber|tel}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-heading">
                    <h3 class="panel-title">Technical Contact Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Name
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.technicalFirstName}} {{vm.claFormViewModel.technicalLastName}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Job Title
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.technicalJobTitle}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Email
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.technicalEmail}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Phone Number
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.technicalPhoneNumber|tel}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">Applicable Devices</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item col-lg-4 col-sm-6 col-xs-12" ng-repeat="device in vm.claFormViewModel.deviceCategories" ng-show="device.selected">
                            {{device.device}}
                        </li>
                    </ul>
                </div>

                <div class="panel-heading">
                    <h3 class="panel-title">Microsoft Product and Quantity</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item col-lg-6 col-xs-12" ng-repeat="product in vm.claFormViewModel.productList" ng-show="product.quantity>0">
                            <div>
                                <div class="col-xs-4">
                                    <div class="pull-left">
                                        <b> {{product.productType}}</b><br /> {{product.product}}
                                    </div>

                                </div>
                                <div class="col-xs-8">
                                    <div class="pull-right">
                                        {{product.quantity}}
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <ul class="list-group">
                        <li class="list-group-item col-lg-6 col-xs-12">
                            <div>
                                <div class="col-xs-4">
                                    <div class="pull-left">
                                        {{vm.claFormViewModel.otherType}}
                                    </div>

                                </div>
                                <div class="col-xs-8">
                                    <div class="pull-right">
                                        {{vm.claFormViewModel.otherQuantity}}
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>-->
            </div>

        </div>

    </div>
    <div class="col-md-3">
        &nbsp;

    </div>
</div>

