<script type="text/javascript">
    if (typeof app === 'undefined') {
        document.location.href = "/";
    }
</script>
<div class="container">
    <div class="page-header text-center">
        <h1>Microsoft Customer License Agreement View</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
   
    <div class="col-md-8">
        <button data-ng-show="authentication.isAuth" type="button" ng-click="vm.toAdminPage()" class="btn btn-default pull-left">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> View All CLAs
        </button>
        <button data-ng-show="authentication.isAuth" type="button" ng-click="vm.open('lg')" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
        </button>
       <br /><br />
        <div class="row">

            <!--this code is a reference for ng-repeat key value pairs-->
            <!--<div ng-repeat="(key, value) in vm.claFormViewModel">
                <div class="col-xs-4">
                    {{vm.toDisplayName(key)|uppercase}}
                </div>
                <div class="col-xs-8">
                    {{value}}
                </div>
            </div>-->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">General Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Sales Representative
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.salesContact}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">Company Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Company Name
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.companyName}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Company Postal Code
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.postCode}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Company Address
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.address}} {{vm.claFormViewModel.city}}, {{vm.claFormViewModel.country}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Company Tax ID
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.taxID}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">Signer Contact Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Name
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.signerFirstName}} {{vm.claFormViewModel.signerLastName}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Job Title
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.signerJobTitle}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Email
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.signerEmail}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Phone Number
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.signerPhoneNumber|tel}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-heading">
                    <h3 class="panel-title">Technical Contact Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Name
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.technicalFirstName}} {{vm.claFormViewModel.technicalLastName}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Job Title
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.technicalJobTitle}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Email
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.technicalEmail}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="pull-left">
                                Phone Number
                            </div>

                        </div>
                        <div class="col-xs-8">
                            <div class="pull-right">
                                {{vm.claFormViewModel.technicalPhoneNumber|tel}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">Applicable Devices</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item col-lg-4 col-sm-6 col-xs-12" ng-repeat="device in vm.claFormViewModel.deviceCategories" ng-show="device.selected">
                            {{device.device}}
                        </li>
                    </ul>
                </div>

                <div class="panel-heading">
                    <h3 class="panel-title">Microsoft Product and Quantity</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item col-lg-6 col-xs-12" ng-repeat="product in vm.claFormViewModel.productList" ng-show="product.quantity>0">
                            <div>
                                <div class="col-xs-4">
                                    <div class="pull-left">
                                        <b> {{product.productType}}</b><br /> {{product.product}}
                                    </div>

                                </div>
                                <div class="col-xs-8">
                                    <div class="pull-right">
                                        {{product.quantity}}
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <ul class="list-group">
                        <li class="list-group-item col-lg-6 col-xs-12">
                            <div>
                                <div class="col-xs-4">
                                    <div class="pull-left">
                                        {{vm.claFormViewModel.otherType}}
                                    </div>

                                </div>
                                <div class="col-xs-8">
                                    <div class="pull-right">
                                        {{vm.claFormViewModel.otherQuantity}}
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
    <div class="col-md-2">
        &nbsp;

    </div>
</div>