<script type="text/javascript">
    if (typeof app === 'undefined') {
        document.location.href = "/";
    }
</script>

<!-- Header 
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Banking Made Easy</h1>
            <p>Add funds to your account in one easy step.</p>
            <a href="#" class="btn btn-primary btn-lg">Add Funds Now</a>
        </div>
    </div>
</header>
-->
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-6">
        <h1>Your Account</h1>


               Balance: {{vm.accountBalance}}
        <input type="number" class="form-control" ng-model="vm.typedThing"/>
        <button type="button" class="btn btn-sm" ng-click="vm.deposit(vm.typedThing)">Deposit</button>
        <button type="button" class="btn btn-sm" ng-click="vm.withdraw(vm.typedThing)">Withdraw</button>
        <div class="row">
               Add Funds Now!
        </div>


    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>


