<script type="text/javascript">
    if (typeof app === 'undefined') {
    document.location.href="/";
  }
</script>
<div class="container">
    <div class="page-header text-center">
        <h3>Application User Maintenance Page</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="demo-section">
            <div class="k-content" style="width: 100%;">
                <div id="grid"
                     kendo-grid="grid"
                     k-data-source="dataSource"
                     k-sortable="{ mode: 'multiple' }"
                     k-resizable="true"
                     k-pageable='{ pageSizes: true, refresh: true, buttonCount: 5 }'
                     k-filterable="true"
                     k-editable='{ mode: "popup", template: popupEditorTemplate }'
                     k-selectable="'row'"
                     k-columns='gridColumns'
                     k-on-data-bound="onDataBound(kendoEvent)"
                     k-on-change="onChange(kendoEvent)">
                </div>
                <style scoped>
                    .toolbar {
                        padding: 15px;
                        float: right;
                    }
                </style>
            </div>
        </div>
        <script type="text/x-kendo-template" id="toolbar-applicationUser">
            <div>
                <button kendo-button ng-click="new(this)"><span class="k-icon k-i-plus"></span>New</button>
            </div>
        </script>
        <script id="popup_editor_applicationUser" type="text/x-kendo-template">
            <p class="k-edit-label">Application User Editor</p>
            <div class="k-edit-form-container">
                <div class="k-edit-label">
                    <label for="id">Id</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="id" data-bind="value:id" readonly />
                </div>
                <div class="k-edit-label">
                    <label for="userName">User Name</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="userName" data-bind="value:userName" />
                </div>
                <div class="k-edit-label">
                    <label for="firstName">First Name</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="firstName" data-bind="value:firstName" />
                </div>
                <div class="k-edit-label">
                    <label for="lastName">Last Name</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="lastName" data-bind="value:lastName" />
                </div>
                <div class="k-edit-label">
                    <label for="email">Email</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="email" data-bind="value:email" />
                </div>
                <div class="k-edit-label">
                    <label for="isActive">Is Active</label>
                </div>
                <div class="k-edit-field">
                    <input type="checkbox" class="k-input" name="isActive" data-bind="checked: isActive" />
                </div>
            </div>
        </script>
    </div>
</div>