<script type="text/javascript">
    if (typeof app === 'undefined') {
    document.location.href="/";
  }
</script>
<div class="container">
    <div class="page-header text-center">
        <h3>Company Maintenance Page</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="demo-section">
            <div class="k-content" style="width: 100%;">
                <div id="grid"
                     kendo-grid="grid"
                     k-data-source="vm.dataSource"
                     k-sortable="{ mode: 'multiple' }"
                     k-resizable="true"
                     k-pageable='{ pageSizes: true, refresh: true, buttonCount: 5 }'
                     k-filterable="true"
                     k-editable='{ mode: "popup", template: vm.popupEditorTemplate }'
                     k-selectable="'row'"
                     k-toolbar='[ { template: vm.toolbarTemplate } ]'
                     k-columns='[
                        { field: "id", title: "Id", hidden: true },
                        { field: "name", title: "Name" },
                        { field: "createdDate", title: "Created On", format: "{0:MM-dd-yyyy HH:mm:ss tt}" },
                        { field: "createdById", title: "Created By Id", editor: readOnlyEditor },
                        { field: "createdByUserName", title: "Created By", editor: readOnlyEditor },
                        { command: ["edit", "destroy"], title: "" }
                     ]'
                     k-on-delete="destroy"
                     k-on-data-bound="onDataBound(kendoEvent)"
                     k-on-change="onChange(kendoEvent)">
                </div>
                <style scoped>
                    .toolbar {
                        padding: 15px;
                        float: right;
                    }
                </style>
            </div>
        </div>
        <script type="text/x-kendo-template" id="toolbar-company">
            <div>
                <button kendo-button ng-click="vm.new(this)"><span class="k-icon k-i-plus"></span>New</button>
            </div>
        </script>       
        <script id="popup_editor" type="text/x-kendo-template">
            <p class="k-edit-label">Company Editor</p>
            <div class="k-edit-form-container">
                <div class="k-edit-label">
                    <label for="name">Company Name</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="name" data-bind="value:name" />
                </div>
                <div class="k-edit-label">
                    <label for="createdDate">Created On</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="createdDate" data-bind="value:createdDate" readonly />
                </div>
                <div class="k-edit-label">
                    <label for="createdBy">Created By Id</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="createdById" data-bind="value:createdById"  readonly />
                </div>
                <div class="k-edit-label">
                    <label for="createdBy">Created Byyy</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="createdByUserName" data-bind="value:createdByUserName" readonly />
                </div>
            </div>
        </script>
    </div>
</div>