<script type="text/javascript">
    if (typeof app === 'undefined') {
        document.location.href="/";
  }
</script>
<div class="container">
    <div class="page-header text-center">
        <h3>Contact Page</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        {{ contactInfo }}
        <address>
            <a href="mailto:Partner@advantech.com">Technical Support</a><br />
            380 Fairview Way Dr<br />
            Milpitas, CA 95035<br />
            USA
        </address>
        
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
