<script type="text/javascript">
    if (typeof app === 'undefined') {
    document.location.href="/";
  }
</script>
<div class="container">
    <div class="page-header text-center">
        <h3>Employee Settings</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input id="companyddl" kendo-drop-down-list k-data-source="companies" k-ng-model="companySelected"
               k-data-text-field="'name'" k-data-value-field="'name'" data-bind="value: name" />{{ companySelected.id }}
        <div class="demo-section">
            <div class="k-content" style="width: 100%;">
                <div id="grid"
                     kendo-grid="grid"
                     k-data-source="dataSource"
                     k-sortable="{ mode: 'multiple' }"
                     k-resizable="true"
                     k-pageable='{ pageSizes: true, refresh: true, buttonCount: 5 }'
                     k-filterable="true"
                     k-editable='{ mode: "popup", template: popupEditorTemplate }'
                     k-selectable="'row'"
                     k-toolbar='[ { template: toolbarTemplate } ]'
                     k-columns='[
                        { field: "id", title: "Id", hidden: true },
                        { field: "jobTitle", title: "Job Title" },
                        { field: "companyId", title: "Company Id", hidden: true },
                        { field: "companyName", title: "Company" },
                        { field: "applicationUserId", title: "User Id", hidden: true },
                        { field: "applicationUserName", title: "User Name", hidden: false },
                        { field: "applicationUserFirstName", title: "First Name", hidden: false },
                        { field: "applicationUserLastName", title: "Last Name", hidden: false },
                        { field: "applicationUserEmail", title: "Email", hidden: false },
                        { field: "createdById", title: "Created By Id", hidden: true },
                        { field: "createdByUserName", title: "Created By", editor: readOnlyEditor },
                        { field: "createdDate", title: "Created On", format: "{0:MM-dd-yyyy HH:mm:ss tt}" },
                        { field: "activeFrom", title: "Active From", format: "{0:MM-dd-yyyy HH:mm:ss tt}" },
                        { field: "deactiveFrom", title: "Deactive From", format: "{0:MM-dd-yyyy HH:mm:ss tt}" },
                     ]'
                     k-save="save"
                     k-cancel="cancel"
                     k-on-delete="destroy"
                     k-on-data-bound="onDataBound(kendoEvent)"
                     k-on-change="onChange(kendoEvent)">
                </div>
                <style scoped>
                    .toolbar {
                        padding: 15px;
                        float: right;
                    }
                </style>
            </div>
        </div>
        <script type="text/x-kendo-template" id="toolbar-employee">
            <div>
                <div class="toolbar">
                    <button kendo-button ng-click="new(this)"><span class="k-icon k-i-plus"></span>New</button>
                    <button kendo-button ng-click="edit(this)"><span class="k-icon k-i-pencil"></span>Edit</button>
                    <button kendo-button ng-click="destroy(this)"><span class="glyphicon glyphicon-trash"></span>Delete</button>
                </div>
            </div>
        </script>
        <script id="popup_editor_employee" type="text/x-kendo-template">
            <p class="k-edit-label">Employee Editor</p>
            <div class="k-edit-form-container">
                <div class="k-edit-label">
                    <label for="id">Employee Id</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="id" data-bind="value:id" />
                </div>
                <div class="k-edit-label">
                    <label for="jobTitle">Job Title</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="jobTitle" data-bind="value:jobTitle" />
                </div>
                <div class="k-edit-label">
                    <label for="companyId">Company Id</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="companyId" data-bind="value:companyId" readonly />
                </div>
                <div class="k-edit-label">
                    <label for="companyName">Company</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="companyName" data-bind="value:companyName" readonly />
                </div>
                <div class="k-edit-label">
                    <label for="applicationUserName">Application User</label>
                </div>
                <div class="k-edit-field">
                    <input k-on-change="handleAutoCompleteChange(data, dataItem, columns)"
                           kendo-auto-complete
                           k-data-text-field="'userName'"
                           k-data-source="applicationUsers"
                           data-bind="value: applicationUserName" />                    
                </div>
                <div class="k-edit-label">
                    <label for="createdDate">Created On</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="createdDate" data-bind="value:createdDate" readonly />
                </div>
                <div class="k-edit-label">
                    <label for="createdByUserName">Created By</label>
                </div>
                <div class="k-edit-field">
                    <input type="text" class="k-input k-textbox" name="createdByUserName" data-bind="value:createdByUserName" readonly />
                </div>
                <div class="k-edit-label">
                    <label for="activeFrom">Active From</label>
                </div>
                <div class="k-edit-field">
                    <input kendo-date-time-picker name="activeFrom" k-ng-model="activeFrom" />
                </div>
                <div class="k-edit-label">
                    <label for="deactiveFrom">Deactive From</label>
                </div>
                <div class="k-edit-field">
                    <input kendo-date-time-picker name="deactiveFrom" k-ng-model="deactiveFrom" />
                </div>
            </div>
        </script>
    </div>
</div>