<script type="text/javascript">
    if (typeof app === 'undefined') {
        document.location.href = "/";
    }
</script>
<style>
    #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
        top: 5px;
        left: 50%;
        margin-left: -75px;
        margin-top: -150px;
        width: 150px;
        padding: 5px;
        border: 1px solid #999;
    }
</style>


<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h1>Dashboard</h1>

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-2">
        &nbsp;
    </div>

</div>

<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <ng-map center="current-location"
                on-center-changed="vm.onCenterChanged()"
                default-style="false"
                style="height:500px">

            <!--<marker position="current-location"></marker>-->   <!-- Client marker -->
            <marker position="[37.336665, -121.894047]"></marker>   <!-- Test driver marker -->
            {{vm.inputAddress}}
            <custom-marker position="{{vm.centerMarker}}" on-click="vm.startMarkerClicked()">
                <div>
                    <div id="floating-panel">
                        <div class="row">
                            Lat: {{vm.centerMarker[0]}}
                            Long: {{vm.centerMarker[1]}}
                        </div>
                        <div class="row"><input type="text" name="inputStartingLocation" ng-model="vm.inputAddress"></div>
                        <div class="row">
                            <button id="setStart"
                                    type="button"
                                    ng-click="vm.setStartAddress()">
                                Set Starting Location
                            </button>
                        </div>

                    </div>


                </div>
            </custom-marker>
            <!--<directions draggable="true"
                        travel-mode="DRIVING"
                        origin="[37.336665, -121.894047]"
                        destination="current-location">
            </directions>-->
        </ng-map>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>

</div>
