<script type="text/javascript">
    if (typeof app === 'undefined') {
        document.location.href = "/";
    }
</script>
<style>
    .custom-marker:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 6px 0;
        border-color: #fff transparent;
        display: block;
        width: 0;
        z-index: 1;
        margin-left: -6px;
        bottom: -6px;
        left: 50%;
    }

    .custom-marker:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 6px 0;
        border-color: #7F7F7F transparent;
        display: block;
        width: 0;
        z-index: 0;
        margin-left: -6px;
        bottom: -7px;
        left: 50%;
    }

    .custom-marker {
        padding: 10px;
        background: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: #7F7F7F solid 1px;
        text-align: center;
    }

    .space {
        width: auto;
        height: 40px;
        display: inline-block;
    }
</style>

<div class="row">
    <div class="col-md-3">

        Welcome, {{vm.authentication.userName}}
        <br />
        Route length: {{vm.map.directionsRenderers[0].directions.routes[0].legs[0].distance.text}}
        <br />
        Route time: {{vm.map.directionsRenderers[0].directions.routes[0].legs[0].duration.text}}
        <br />
        Fare: ${{vm.fare}}
        <br />
        Starting Address: {{vm.map.directionsRenderers[0].directions.routes[0].legs[0].start_address}}
        <br />
        Ending Address: {{vm.map.directionsRenderers[0].directions.routes[0].legs[0].end_address}}
        <br />
        <input type="text"
               places-auto-complete
               ng-model="vm.inputAddress"
               class="form-control"
               component-restrictions="{country:'us'}"
               on-place-changed="vm.placeChanged(); vm.inputAddress = ''"
               placeholder="Type a Location">

        <!--json:{{vm.map.directionsRenderers[0].directions.routes[0].legs[0]}}
        <br />-->
        <a href="#" class="btn btn-success" ng-click="vm.setStartAddress();">Set Pickup Location</a>
        <div class="space" />
        <a href="#" class="btn btn-success" ng-click="vm.setEndAddress();">Set Dropoff Location</a>
        <div class="space" />
        <a href="#" class="btn btn-success" ng-disabled="!vm.showConfirmButton" ng-click="vm.confirmFare();">Request Driver</a>
        <div class="space" />
        <br />
        <br />
    </div>

    <div class="col-md-9">
        <ng-map id="rider"
                center="current-position"
                disable-default-u-i="true"
                clickable-icons="false"
                disable-double-click-zoom="true"
                geo-fallback-center="37.54, -121.98"
                zoom="17"
                on-bounds_changed="vm.onCenterChanged()"
                on-idle="vm.onDragEnd()"
                default-style="false"
                style="height:500px;">

            <directions draggable="false"
                        travel-mode="DRIVING"
                        origin={{vm.startAddress}}
                        destination={{vm.endAddress}}>
            </directions>
            <directions draggable="false"
                        panel="directions-panel"
                        travel-mode="DRIVING"
                        origin={{vm.driverLocation}}
                        destination={{vm.startAddress}}>
            </directions>
            <marker ng-if="!vm.hidePanel&&!vm.showConfirmButton"
                    position="{{vm.centerMarker}}"
                    animation="Animation.BOUNCE"
                    centered="true"></marker>
            <marker ng-if="!vm.hidePanel&&!vm.showConfirmButton"
                    position="{{vm.startAddress}}"></marker>
            <marker ng-if="!vm.hidePanel&&!vm.showConfirmButton"
                    position="{{vm.endAddress}}"></marker>
            <marker ng-repeat="m in vm.drivers"
                    position="{{m.location}}"></marker>

        </ng-map>
    </div>

    <div class="col-md-9">
        <br />
        <div class="alert alert-info" ng-if="!vm.showConfirmButton&&vm.hidePanel">
            <strong>You have requested a driver!</strong><br />A driver will be arriving at your pickup destination soon.
        </div>
    </div>
</div>
