<script type="text/javascript">
    if (typeof app === 'undefined') {
        document.location.href = "/";
    }
</script>
<style>
    #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
        top: 5px;
        left: 50%;
        margin-left: -75px;
        margin-top: -100px;
        width: 150px;
        padding: 5px;
        border: 1px solid #999;
    }
</style>


<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h1>Dashboard</h1>

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-2">
        &nbsp;
    </div>

</div>

<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <ng-map center="{{vm.processLocation()}}"
                zoom="17"
                on-bounds_changed="vm.onCenterChanged()"
                on-idle="vm.onDragEnd()"
                default-style="false"
                style="height:500px">
            <input type="text" ng-model="vm.inputAddress" ng-keypress="($event.charCode==13)? vm.processLocation(vm.inputAddress) : return" />
            <br />
            Directions path length:{{(vm.map.directionsRenderers[0].directions.routes[0].overview_path.length != null)?vm.map.directionsRenderers[0].directions.routes[0].overview_path.length * 0.1:null}} km
            <br />
            <button ng-click="vm.processLocation(vm.inputAddress);">Search</button>

            Lat: {{vm.centerMarker[0]}}
            Long: {{vm.centerMarker[1]}}
            <directions draggable="true"
                        panel="directions-panel"
                        travel-mode="DRIVING"
                        origin={{vm.startAddress}}
                        destination={{vm.endAddress}}>
            </directions>

            <marker position="{{vm.centerMarker}}"></marker>
            <div> <marker position="{{vm.startAddress}}"></marker></div>
            <div> <marker position="{{vm.endAddress}}"></marker></div>
            <div> <marker ng-repeat="m in vm.drivers" position="{{m.location}}"></marker></div>

            <custom-marker position="{{vm.centerMarker}}" on-click="vm.startMarkerClicked()">
                <div data-ng-hide="vm.dragging">
                    <div id="floating-panel">

                        <div class="row">
                            <button id="setStart"
                                    ng-click="vm.setStartAddress()">
                                Set Pickup Location
                            </button>
                            <button id="setStart"
                                    ng-click="vm.setEndAddress()">
                                Set Dropoff Location
                            </button>
                        </div>
                    </div>
                </div>
            </custom-marker>

        </ng-map>
    </div>

</div>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">

        <br /><br /><br /><br />

        <button ng-click="vm.triggerCounter()">Trigger</button>
        <button ng-click="vm.sendMessage('Hello World')">Say Hello</button>

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-2">
        &nbsp;
    </div>

</div>
