<script type="text/javascript">
    if (typeof app === 'undefined') {
    document.location.href="/";
  }
</script>
<div class="login-page">

    <div class="form">
        <h1>Ryde.</h1>
        <form class="register-form">
            <input type="text" placeholder="name" />
            <input type="password" placeholder="password" />
            <input type="text" placeholder="email address" />
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form">
            <input type="text" data-ng-model="vm.loginData.userName" required autofocus placeholder="Username" />
            <input type="password" data-ng-model="vm.loginData.password" required placeholder="Password" />
            <button data-ng-click="vm.login('what')">login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>

        <div data-ng-hide="vm.message == ''" class="alert alert-danger">
            {{vm.message}}
        </div>
    </div>
</div>

