<script type="text/javascript">
    if (typeof app === 'undefined') {
    document.location.href="/";
  }
</script>
<form class="form-login" role="form">
    <h2>Reset Password</h2>
    <input type="password" class="form-control" placeholder="Current Password" data-ng-model="changePasswordData.oldPassword" required>
    <input type="password" class="form-control" placeholder="New Password" data-ng-model="changePasswordData.newPassword" required>
    <input type="password" class="form-control" placeholder="Confirm New Password" data-ng-model="changePasswordData.confirmPassword" required>
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="resetPassword()">Submit</button>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>