<script type="text/javascript">
    if (typeof app === 'undefined') {
    document.location.href="/";
  }
</script>
<div class="container">
    <div class="page-header text-center">
        <h3>Resources Download Page</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>File Folder</th>
                    <th>File Name</th>
                    <th>Mime Type</th>
                    <th>Is Published?</th>
                    <th>File Note</th>
                    <th>Created Date</th>
                    <th>Created By</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="file in files">
                    <td>                        
                        {{ file.id }}
                    </td>
                    <td>
                        {{ file.fileFolder }}
                    </td>
                    <td>
                        {{ file.fileName }}
                    </td>
                    <td>
                        {{ file.mimeType }}
                    </td>
                    <td>
                        <input type="checkbox" data-ng-model="file.isPublished" disabled="disabled">
                    </td>
                    <td>
                        {{ file.note }}
                    </td>
                    <td>
                        {{ file.createdDate }}
                    </td>
                    <td>
                        {{ file.createdBy.username }}
                    </td>
                    <td>
                        <button ng-click="download(file.id, file.fileName, file.mimeType)">Download</button>
                    </td>                
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
