<script type="text/javascript">
    if (typeof app === 'undefined') {
    document.location.href="/";
  }
</script>
<div class="container">
    <div class="page-header text-center">
        <h3>Resources Download Maintenance Page</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">        
        <div class="demo-section">
            <div class="k-content" style="width: 100%;">
                <div id="grid"
                     kendo-grid="grid"
                     k-data-source="dataSource"
                     k-sortable="{ mode: 'multiple' }"
                     k-resizable="true"
                     k-pageable='{ pageSizes: true, refresh: true, buttonCount: 5 }'
                     k-filterable="true"
                     k-editable="'inline'"
                     k-selectable="'row'"
                     k-toolbar='[ { template: toolbarTemplate } ]'
                     k-columns='[
                        { field: "id", title: "Id", hidden: true },
                        { field: "fileFolder", title: "Folder" },
                        { field: "fileName", title: "File Name" },
                        { field: "mimeType", title: "Mimetype" },
                        { field: "isPublished", title: "Is Published?" },
                        { field: "note", title: "File Note" },
                        { field: "createdDate", title: "Created On", format: "{0:MM-dd-yyyy HH:mm:ss tt}" },
                        { field: "createdBy.username", title: "Created By", editor: readOnlyEditor },
                        { command: { text: "Download", click: download }, title: "" }
                     ]'
                     
                     k-on-data-bound="onDataBound(kendoEvent)"
                     k-on-change="onChange(kendoEvent)">
                </div>
                <style scoped>
                    .toolbar {
                        padding: 15px;
                        float: right;
                    }
                </style>
            </div>            
        </div>        
        <script type="text/x-kendo-template" id="toolbar-resources">
            <div>
                <div ng-show="!isToolbarVisible" class="toolbar">
                    <button kendo-button ng-click="edit(this)"><span class="k-icon k-i-pencil"></span>Edit</button>
                    <button kendo-button ng-click="destroy(this)"><span class="glyphicon glyphicon-trash"></span>Delete</button>
                    <!--
                <button ng-show="!IsTestMode" kendo-button ng-click="details(this)"><span class="k-icon k-i-tick"></span>Edit Details</button>
                -->
                </div>
                <div ng-show="isToolbarVisible" class="toolbar">
                    <button kendo-button ng-click="save(this)"><span class="glyphicon glyphicon-floppy-disk"></span>Save</button>
                    <button kendo-button ng-click="cancel(this)"><span class="k-icon k-i-cancel"></span>Cancel</button>
                </div>
            </div>
        </script>       
    </div>
</div>

