<script type="text/javascript">
    if (typeof app === 'undefined') {
        document.location.href = "/";
    }
</script>
<div class="container">
    <div class="page-header text-center">
        <h1>Microsoft Customer License Agreement View</h1>
    </div>
</div>
<div class="row" data-ng-hide="vm.isUserInRoles('ProductManager')">
    <div class="col-md-2">
        &nbsp;
    </div>

    <div class="col-md-8">
        <form>
            <div ng-hide="vm.isUserInRoles(null)">
                <input class="btn btn-primary" ng-if="vm.editMode" type="submit" ng-click="vm.toggleEdit()" value="Cancel Edit Mode">
                <input class="btn btn-primary" ng-if="!vm.editMode" type="submit" ng-click="vm.toggleEdit()" value="Edit Form">
            </div>
            <div class="row">
                <h2>Partner Information</h2>
                <h3>Advantech Sales Contact</h3>

                <div class="form-group row">

                    <label class="col-sm-4 form-control-label">Name</label>
                    <div class="col-sm-8">
                        <select ng-disabled="!vm.editMode" ng-model="vm.claFormViewModel.salesContact" class="form-control">
                            <!--<option value="">---Please select your Sales Associate---</option>-->
                            <option ng-show="name.name!='Alex Lin'" ng-repeat="name in vm.claFormViewModel.salesReps" value="{{name.name}}">{{name.name}}</option>
                        </select>
                    </div>
                </div>
                <h3>Company Information</h3>
                <div class="form-group row">
                    <label class="col-sm-4 form-control-label">Company Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.companyName" placeholder="Company Legal Name">
                    </div>
                    <label class="col-sm-4 form-control-label">Customer Tax ID</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.taxID" placeholder="Tax ID">
                    </div>
                    <label class="col-sm-4 form-control-label">Company Address</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.address" placeholder="Address">
                    </div>
                    <label class="col-sm-4 form-control-label">Company City</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.city" placeholder="City">
                    </div>
                    <label class="col-sm-4 form-control-label">Company Country</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.country" placeholder="Country">
                    </div>
                    <label class="col-sm-4 form-control-label">Company Postal Code</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.postCode" placeholder="Postal Code">
                    </div>
                </div>
                <h3>Contract Signer Information</h3>

                <div class="form-group row">
                    <label class="col-sm-4 form-control-label">First Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.signerFirstName" placeholder="Contract Signer First Name">
                    </div>
                    <label class="col-sm-4 form-control-label">Last Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.signerLastName" placeholder="Contract Signer Last Name">
                    </div>
                    <label class="col-sm-4 form-control-label">Email</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.signerEmail" placeholder="Contract Signer Email">
                    </div>
                    <label class="col-sm-4 form-control-label">Job Title</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.signerJobTitle" placeholder="Contract Signer Job Title">
                    </div>
                    <label class="col-sm-4 form-control-label">Phone Number</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.signerPhoneNumber" placeholder="Contract Signer Phone Number">
                    </div>
                </div>
                <h3>Technical Contact</h3>
                <div class="form-group row">
                    <label class="col-sm-4 form-control-label">First Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.technicalFirstName" placeholder="Technical Contact First Name">
                    </div>
                    <label class="col-sm-4 form-control-label">Last Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.technicalLastName" placeholder="Technical Contact Last Name">
                    </div>
                    <label class="col-sm-4 form-control-label">Email</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.technicalEmail" placeholder="Technical Contact Email">
                    </div>
                    <label class="col-sm-4 form-control-label">Job Title</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.technicalJobTitle" placeholder="Technical Contact Job Title">
                    </div>
                    <label class="col-sm-4 form-control-label">Phone Number</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.technicalPhoneNumber" placeholder="Technical Contact Phone Number">

                    </div>
                </div>
            </div>

            <div class="row well well-lg">
                <div class="">
                    <h2 class="card-title">CLA Device Category</h2>
                    <h3>Please check all categories that apply</h3>

                    <div ng-repeat="device in vm.claFormViewModel.deviceCategories">
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <label class="checkbox">
                                <input type="checkbox" ng-disabled="!vm.editMode" ng-model="device.selected"> {{device.device}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <div id="products" class="row">
                <h2>Windows Embedded Product Item and Quantity</h2>


                <div ng-repeat="productType in vm.claFormViewModel.productTypes">
                    <h3>{{productType.productType}}</h3>
                    <div class="form-group row">
                        <div ng-repeat="product in vm.claFormViewModel.productList">

                            <div ng-show="productType.productType == product.productType">
                                <div class="col-sm-6">
                                    <label class="col-xs-5 form-control-label">• {{product.product}}</label>
                                    <div class="col-xs-6 input-group">
                                        <input id="prod" type="number" min="0" step="1" class="form-control" ng-readonly="!vm.editMode" ng-model="product.quantity" placeholder="Unit Quantity">
                                        <div class="input-group-addon">units</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Other Products</h3>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <div class="col-xs-5">
                            <input type="text" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.otherType" class="form-control" placeholder="Product Name">
                        </div>
                        <div class="col-xs-6 input-group">
                            <input type="number" class="form-control" min="0" step="1" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.otherQuantity">
                            <div class="input-group-addon">units</div>
                        </div>
                    </div>
                </div>
            </div>


            <h3>CLA Information</h3>
            <div class="form-group row">
                <label class="col-sm-4 control-label">CLA Number</label>
                <div class="col-sm-8">
                    <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.claNumber" placeholder="CLA Number">
                </div>


                <label class="col-sm-4 form-control-label">CLA Status</label>
                <div class="col-sm-8">
                    <select ng-disabled="!vm.editMode" ng-model="vm.claFormViewModel.claStatus" class="form-control">
                        <option ng-repeat="s in vm.claStatuses" value="{{s.status}}">{{s.status}}</option>
                    </select>
                </div>
                <label class="col-sm-4 control-label">CLA Status Date</label>
                <div class="col-sm-8">
                    <input class="form-control" ng-readonly="true" ng-value="vm.getDisplayDate(vm.claFormViewModel.claStatusDate)" placeholder="CLA Status Date">
                </div>
                <label class="col-sm-4 control-label">Customer ERPID</label>
                <div class="col-sm-8">
                    <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.customerERPID" placeholder="Customer ERPID">
                </div>
                <label class="col-sm-4 control-label">Created On</label>
                <div class="col-sm-8">
                    <input class="form-control" ng-readonly="true" ng-value="vm.getDisplayDate(vm.claFormViewModel.createdDate)" placeholder="Created Date">
                </div>
            </div>




        </form>
        <div ng-hide="vm.isUserInRoles(null)">
            <input class="btn btn-primary" ng-if="vm.editMode" type="submit" ng-click="vm.submitForm()" value="Save">
            <input class="btn btn-primary" ng-if="vm.editMode" type="submit" ng-click="vm.toggleEdit()" value="Cancel Edit Mode">
        </div>
        <div class="alert alert-danger" ng-show="vm.errorMessage" role="alert">{{vm.errorMessage}}</div>

    </div>



    <div class="col-md-2">
        &nbsp;

    </div>
</div>






<div class="row" data-ng-show="vm.isUserInRoles('ProductManager')">
    <div class="col-md-2">
        &nbsp;
    </div>

    <div class="col-md-8">
        <form>
            <div ng-hide="vm.isUserInRoles(null)">
                <input class="btn btn-primary" ng-if="vm.editMode" type="submit" ng-click="vm.toggleEdit()" value="Cancel Edit Mode">
                <input class="btn btn-primary" ng-if="!vm.editMode" type="submit" ng-click="vm.toggleEdit()" value="Edit Form">
            </div>
            <div class="row">
                <h2>Partner Information</h2>
                <h3>Advantech Sales Contact</h3>

                <div class="form-group row">

                    <label class="col-sm-4 form-control-label">Name</label>
                    <div class="col-sm-8">
                        <select ng-disabled="!vm.editMode || vm.editMode" ng-model="vm.claFormViewModel.salesContact" class="form-control">
                            <!--<option value="">---Please select your Sales Associate---</option>-->
                            <option ng-show="name.name!='Alex Lin'" ng-repeat="name in vm.claFormViewModel.salesReps" value="{{name.name}}">{{name.name}}</option>
                        </select>
                    </div>
                </div>
                <h3>Company Information</h3>
                <div class="form-group row">
                    <label class="col-sm-4 form-control-label">Company Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode || vm.editMode" ng-model="vm.claFormViewModel.companyName" placeholder="Company Legal Name">
                    </div>
                    <label class="col-sm-4 form-control-label">Customer Tax ID</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode || vm.editMode" ng-model="vm.claFormViewModel.taxID" placeholder="Tax ID">
                    </div>
                    <label class="col-sm-4 form-control-label">Company Address</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode || vm.editMode" ng-model="vm.claFormViewModel.address" placeholder="Address">
                    </div>
                    <label class="col-sm-4 form-control-label">Company City</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode || vm.editMode" ng-model="vm.claFormViewModel.city" placeholder="City">
                    </div>
                    <label class="col-sm-4 form-control-label">Company Country</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode || vm.editMode" ng-model="vm.claFormViewModel.country" placeholder="Country">
                    </div>
                    <label class="col-sm-4 form-control-label">Company Postal Code</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode || vm.editMode" ng-model="vm.claFormViewModel.postCode" placeholder="Postal Code">
                    </div>
                </div>
                <h3>Contract Signer Information</h3>

                <div class="form-group row">
                    <label class="col-sm-4 form-control-label">First Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode || vm.editMode" ng-model="vm.claFormViewModel.signerFirstName" placeholder="Contract Signer First Name">
                    </div>
                    <label class="col-sm-4 form-control-label">Last Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode || vm.editMode" ng-model="vm.claFormViewModel.signerLastName" placeholder="Contract Signer Last Name">
                    </div>
                    <label class="col-sm-4 form-control-label">Email</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode || vm.editMode" ng-model="vm.claFormViewModel.signerEmail" placeholder="Contract Signer Email">
                    </div>
                    <label class="col-sm-4 form-control-label">Job Title</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode || vm.editMode" ng-model="vm.claFormViewModel.signerJobTitle" placeholder="Contract Signer Job Title">
                    </div>
                    <label class="col-sm-4 form-control-label">Phone Number</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode || vm.editMode" ng-model="vm.claFormViewModel.signerPhoneNumber" placeholder="Contract Signer Phone Number">
                    </div>
                </div>
                <h3>Technical Contact</h3>
                <div class="form-group row">
                    <label class="col-sm-4 form-control-label">First Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode || vm.editMode" ng-model="vm.claFormViewModel.technicalFirstName" placeholder="Technical Contact First Name">
                    </div>
                    <label class="col-sm-4 form-control-label">Last Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode || vm.editMode" ng-model="vm.claFormViewModel.technicalLastName" placeholder="Technical Contact Last Name">
                    </div>
                    <label class="col-sm-4 form-control-label">Email</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode || vm.editMode" ng-model="vm.claFormViewModel.technicalEmail" placeholder="Technical Contact Email">
                    </div>
                    <label class="col-sm-4 form-control-label">Job Title</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode || vm.editMode" ng-model="vm.claFormViewModel.technicalJobTitle" placeholder="Technical Contact Job Title">
                    </div>
                    <label class="col-sm-4 form-control-label">Phone Number</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-readonly="!vm.editMode || vm.editMode" ng-model="vm.claFormViewModel.technicalPhoneNumber" placeholder="Technical Contact Phone Number">

                    </div>
                </div>







            </div>

            <div class="row well well-lg">
                <div class="">
                    <h2 class="card-title">CLA Device Category</h2>
                    <h3>Please check all categories that apply</h3>

                    <div ng-repeat="device in vm.claFormViewModel.deviceCategories">
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <label class="checkbox">
                                <input type="checkbox" ng-disabled="!vm.editMode || vm.editMode" ng-model="device.selected"> {{device.device}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <div id="products" class="row">
                <h2>Windows Embedded Product Item and Quantity</h2>


                <div ng-repeat="productType in vm.claFormViewModel.productTypes">
                    <h3>{{productType.productType}}</h3>
                    <div class="form-group row">
                        <div ng-repeat="product in vm.claFormViewModel.productList">

                            <div ng-show="productType.productType == product.productType">
                                <div class="col-sm-6">
                                    <label class="col-xs-5 form-control-label">• {{product.product}}</label>
                                    <div class="col-xs-6 input-group">
                                        <input id="prod" type="number" min="0" step="1" class="form-control" ng-readonly="!vm.editMode || vm.editMode" ng-model="product.quantity" placeholder="Unit Quantity">
                                        <div class="input-group-addon">units</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Other Products</h3>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <div class="col-xs-5">
                            <input type="text" ng-readonly="!vm.editMode || vm.editMode" ng-model="vm.claFormViewModel.otherType" class="form-control" placeholder="Product Name">
                        </div>
                        <div class="col-xs-6 input-group">
                            <input type="number" class="form-control" min="0" step="1" ng-readonly="!vm.editMode || vm.editMode" ng-model="vm.claFormViewModel.otherQuantity">
                            <div class="input-group-addon">units</div>
                        </div>
                    </div>
                </div>
            </div>



            <h3>CLA Information</h3>
            <div class="form-group row">
                <label class="col-sm-4 control-label">CLA Number</label>
                <div class="col-sm-8">
                    <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.claNumber" placeholder="CLA Number">
                </div>

                <label class="col-sm-4 form-control-label">CLA Status</label>
                <div class="col-sm-8">
                    <select ng-disabled="!vm.editMode" ng-model="vm.claFormViewModel.claStatus" class="form-control">
                        <option ng-repeat="s in vm.claStatuses" value="{{s.status}}">{{s.status}}</option>
                    </select>
                </div>

                <label class="col-sm-4 control-label">CLA Status Date</label>
                <div class="col-sm-8">
                    <input class="form-control" ng-readonly="true" ng-value="vm.getDisplayDate(vm.claFormViewModel.claStatusDate)" placeholder="CLA Status Date">
                </div>
                <label class="col-sm-4 control-label">Customer ERPID</label>
                <div class="col-sm-8">
                    <input class="form-control" ng-readonly="!vm.editMode" ng-model="vm.claFormViewModel.customerERPID" placeholder="Customer ERPID">
                </div>
                <label class="col-sm-4 control-label">Created On</label>
                <div class="col-sm-8">
                    <input class="form-control" ng-readonly="true" ng-value="vm.getDisplayDate(vm.claFormViewModel.createdDate)" placeholder="Created Date">
                </div>
            </div>

        </form>
        <div ng-hide="vm.isUserInRoles(null)">
            <input class="btn btn-primary" ng-if="vm.editMode" type="submit" ng-click="vm.submitForm()" value="Save">
            <input class="btn btn-primary" ng-if="vm.editMode" type="submit" ng-click="vm.toggleEdit()" value="Cancel Edit Mode">
        </div>
        <div class="alert alert-danger" ng-show="vm.errorMessage" role="alert">{{vm.errorMessage}}</div>
    </div>

    <div class="col-md-2">
        &nbsp;

    </div>
</div>