﻿
<script type="text/javascript">
    if (typeof app === 'undefined') {
    document.location.href="/";
  }
</script>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title"> Thank you for submitting your CLA application</h3>
            </div>
            <div class="panel-body">
                <h4>You are now one step closer to becoming a Microsoft Embedded OEM customer:</h4>
            </div>

            <ul class="list-group">
                <li class="list-group-item">1. Advantech will complete the Microsoft online CLA Registration on your behalf</li>
                <li class="list-group-item">2. Upon Microsoft approval, you will receive an email confirmation with your CLA Number</li>
                <li class="list-group-item">3. Contact your Advantech Sales representative with your CLA Number to activate</li>
                <li class="list-group-item">4. Once you finish the above, Congratulations! You are now a Microsoft Embedded OEM customer!</li>
                <li class="list-group-item"><small>Process may take up to 10 business days to complete</small></li>
            </ul>
        </div>
        <p>
            Advantech Support Team <br />
            1-888-576-9668
        </p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>